spring:
  application:
    name: auth-service

  datasource:
    url: jdbc:mysql://localhost:3306/shiva_auth_service
    username: root
    password: Html100@
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true

server:
  port: 8081

jwt:
  secret: temple-secret-key
  expiration: 86400000





